<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    
    <services>
      <service name="ServicioWCF">
        <endpoint address="http://localhost/ServicioWCF/"
                  binding="wsHttpBinding"
                  bindingConfiguration="EnlaceProyectoFinal"
                  contract="IServicioProyectoFinal"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name ="EnlaceProyectoFinal"></binding>
      </wsHttpBinding>
    </bindings>
    
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
