<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioProyectoFinal" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:24939/ServicioProyectoFinal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioProyectoFinal"
        contract="ServicioFinal.IServicioProyectoFinal" name="BasicHttpBinding_IServicioProyectoFinal" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ColaUsuarios" value="FormatName:DIRECT=OS:localhost\Private$\ColaUsuarios"/>
  </appSettings>
</configuration>